<!--Страница авторизации пользователя-->
{% extends "layout.html" %}

{% block content %}

    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Авторизация</legend>

                <!-- Поле email -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- Поле пароль -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div style="margin-top: 40px;">
                    {{ form.submit(class="btn btn-outline-info btn-md btn-block") }}
                    <small class="text-muted ml-2">
                        <a href="{{ url_for('users.reset_request') }}">Сбросить пароль</a>
                    </small>
                    <a class="btn btn-secondary btn-md btn-block" href="{{ url_for('users.login_guest') }}" style="margin-top: 30px;">Войти как Гость</a>
                    <a class="btn btn-outline-success btn-md btn-block" href="{{ url_for('users.login_google') }}"><i class="fa fa-google"></i> Через Google</a>
                    <a class="btn btn-dark btn-md btn-block" href="{{ url_for('users.login_github') }}"><i class="fa fa-github"></i> Через GitHub</a>
                </div>
            </fieldset>

        </form>
    </div>

{% endblock content %}
